body {
    background: url(../imgs/bckgrnd.jpg);
    background-size: cover;
}

.nav {
    margin-left: 33.5%;
}

.nav__more,
.nav__registration,
.nav__authorization,
.nav__shopping_cart,
.nav__about_us {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
    background-color: rgba(41, 12, 173, 0.63);
    border-radius: 5px;
    border: 1px solid black;
}

.nav__more:hover .dropdown {
    display: block;
    background-color: rgba(41, 12, 173, 0.63);
    border-radius: 5px;
    border: 1px solid black;
}

.dropdown__computers,
.dropdown__cameras,
.dropdown__televisions,
.dropdown__gaming_consoles,
.dropdown__laptops {
    display: block;
}

.more__link,
.dropdown__computers__link,
.dropdown__cameras__link,
.dropdown__televisions__link,
.dropdown__gaming_consoles__link,
.dropdown__laptops__link,
.nav__registration__link,
.nav__authorization__link,
.nav__shopping_cart__link,
.nav__about_us__link {
    display: block;
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.dropdown {
    position: absolute;
    display: none;
}

h1 {
    display: block;
    width: 32%;
    text-align: center;
    margin-top: 4%;
    margin-left: 33.5%;
    font-size: 3.5rem;
    color: rgb(65, 90, 90);
    text-shadow: 3px 0px 1px black;
}

.wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 5%;
}

.card::after {
    content: "";
    display: table;
    clear: both;
}

.card__item {
    width: 27%;
    padding: 1.8%;
    margin: 1%;
    float: left;
    background-color: rgba(65, 90, 90, 0.425);
    border-radius: 20px;
    border: 2px solid rgba(41, 12, 173, 0.63);
}

.card__img_IPhone_6,
.card__img_IPhone_8,
.card__img_IPhone_X,
.card__img_IPad_Air2,
.card__img_IPad_Air,
.card__img_IPad_Pro,
.card__img_Apple_Watch_Se,
.card__img_Apple_Watch_Series7,
.card__img_Apple_Watch_3000 {
    float: right;
}

.card__img_IPhone_6,
.card__img_IPhone_8 {
    width: 25%;
}

.card__img_IPhone_X {
    width: 20%;
}

.card__img_IPad_Air2{
    width: 45%;

}

.card__img_IPad_Air,
.card__img_IPad_Pro,
.card__img_Apple_Watch_Se,
.card__img_Apple_Watch_Series7 {
    width: 40%;
}

.card__img_Apple_Watch_3000 {
    width: 24.7%;
}


.card__heading {
    margin: 1.25rem;
    color: rgb(204, 83, 83);
    font-size: 1.5rem;
}

.card__heading,
.card__main,
.card__btn-wrap,
.footer__text {
    text-align: center;
}

.card__main {
    color: white;
}
.card__desc {
    margin-bottom: 1.25rem;
}

.card__btn-wrap {
    margin: 4% 2%;
    width: 45%;
    padding: 2%;
    font-size: 1.3rem;
    background-color: azure;
    border: 2px solid black;
    border-radius: 0.6rem;
}

.card__btn {
    color: black;
    text-decoration: none;
}

.footer__text {
    margin: 10px;
}

.colortext {
    color: rgb(204, 83, 83);
}
